* {
	box-sizing: border-box;
}

body {
	background-color: aquamarine;
	height: 100%;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	color: #fff;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	height: auto;
	width: 40%;
	background-color: gray;
	border-radius: 10px;
	padding: 1rem;
	border: 1px red solid;
	margin-top: 10%;
	margin-bottom: auto;
}
p {
	text-align: center;
}
button {
	display: block;
	padding: 1rem 2rem;
	border-radius: 2rem;
	border: none;
	color: #fff;
	background-color: blue;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
}

/* .boy {
	display: flex;
	align-items: center;
	justify-content: center;
} */
